/*style */
/* Styles go here */

* {
    box-sizing: border-box;
  }
  
body {
    font-size: 9pt;
    font-family: Arial;
    direction: rtl;
    text-align: right;
    color:white;
    font-weight: bold;
    margin: 0 0;
    padding:0 0;
}
nav {
    font-size: 14px;
    padding-top: 33px;
    padding-bottom: 25px;
}
nav li{
    display: inline;
    padding:20px;
}
 nav li a {
     color:white;
     text-decoration: none;
      border-left: 1px solid white;
      padding-left:10px;
      
    }
    .navLiLast {
        border: none;
      }  
header {
    background-color:rgb(140, 140, 140);
    text-align: center;
    border-radius: 3px;
    padding-top:20px;
   box-shadow:0px 10px 0px 5px rgba(131, 129, 129, 0.778); 
  }
.searchIcon {
    text-align: left;
    font-size: 12px;
}
.row {
    margin:0 auto;
    width: 900px;
    padding-top:50px;
}
.column {
   float: right;
    width: 33%;
    padding: 0 24px;
  }
.column::after {
        content: "";
        display: table;
        clear: both;
      }
      
.row::after {
        content: "";
        display: table;
        clear: both;
      }
.incolumn {
    position:relative;
}
.floattxt {
    position: absolute;
    background-color:rgb(140, 140, 140) ;
    opacity: 0.9;
    bottom:10px;
    right:10px;
    color:white;
}
.floattxt a {
    position: absolute;
    left:10px;
    background-color:rgb(140, 140, 140) ;
    opacity: 0.9;
    bottom:10px;
     color:white;
}



footer {
      position: fixed;
      width:100%;
      background-color: rgb(140, 140, 140);
      border-radius: 3px;
      bottom: 0;
    }
footer> ul >li{
    display: inline;
    text-decoration: none;
    
}
footer >ul>li>a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-left: 1px solid white;
    color:white;
    font-size: 12px;
    
}
.ftrLilast {
    color:red;
    border:none;
}
