/*style */
/* Styles go here */

* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    direction: rtl;
    text-align: right;
    color:white;
    font-weight: bold;
    margin: 0 0;
    padding:0 0;
}
header {
    position:relative;
    background-color:rgb(140, 140, 140);
    text-align: center;
    border-radius: 3px;
    padding-top:20px;
    box-shadow:0px 10px 0px 5px rgba(131, 129, 129, 0.778); 
  }
.searchdiv {
    margin:0 auto;
    width: 900px;
    text-align: left;
    font-size: 12px;
 }
 .searchdiv img {
     position: relative;
     top:5px;
 }
.searchword {
    background-color: white;
    border-radius: 0 8px 0 0 ;
}
.searchword a {
    color:black;
    line-height: 25px;
}
.searchdiv >li{
    display:inline;
}
.searchword >a {
   color:black; 
}
.searchdiv> li >a {
text-decoration: none;
color:white;
}
.searchdiv>li {
    list-style: none;
}
.width900 {
    margin:0 auto;
    width: 900px;
}
.paz-logo {
    position:absolute;
 }
.mainmenu {
     font-size: 14px;
    padding-top: 20px;
    left:0;
}
.mainmenu>ul {
    padding:0;
    text-align: left;
}

nav>ul>li {
    display: inline;
    padding:10px;
}
 .mainmenu li  a {
     color:white;
     text-decoration: none;
      border-left: 1px solid white;
      padding-left:10px;
      
    }
#navLiLast {
        border-left: 0;
      }  
body a:hover {
    text-decoration: underline;
    color:blue;
 }
.li-menu {
    position: relative;
}
.li-menu:hover .menu-content {
    display: block;
}

.menu-content {
 display: none; 
    position: absolute;
    background-color:rgb(140, 140, 140);
    padding:0;
    margin:0 0;
    white-space: nowrap;
    right: 20px;
    z-index:1000;
    list-style: none;
}
.li-menu .menu-content > li {
    padding:none;
}
.li-menu .menu-content > li > a:hover {
    background-color: rgb(211, 205, 205)
}
.li-menu .menu-content > li > a {
    border-bottom: 1px solid white;
    border-left:none;
    display: block;
    text-align: right;
    padding:none;
    padding-right: 6px;
    padding-left:0;
    padding-top:0;
    padding-bottom: 0;
    line-height: 25px;
}
.row {
    margin:0 auto;
    width: 900px;
    padding-top:30px;
}
.column {
   float: right;
   border-radius: 0 0 25px 0;
    width: 33%;
    padding: 0 24px;
 }
.column::after {
        content: "";
        display: table;
        clear: both;
      }
      
.row::after {
        content: "";
        display: table;
        clear: both;
      }
.incolumn {
    position:relative;
    font-size: 12px;
}
.incolumnimage {
    border-radius: 0 0 25px 0;
    
}

.floattxt {
    position: absolute;
    background-color:rgb(140, 140, 140) ;
    opacity: 0.9;
    bottom:10px;
    right:10px;
    top:240px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    border-radius: 0 0 25px 0;
}
.floattxt a {
    position: absolute;
    left:10px;
    background-color:rgb(140, 140, 140) ;
    opacity: 0.9;
    bottom:10px;
     color:white;
}
.floattxt h3 {
    font-size:14px;
}
.row2 {
    padding-top:15px;
    padding-bottom: 50px;
}
.floatimg {
    position: absolute;
    top:40px;
    right:20px;
}
.floatmap {
    position: absolute;
    top:40px;
    left:0;
}
.floatnav {
    position: absolute;
    top:40px;
    right:-20px;
}  
.floatnav >li {
    display: block;
    list-style: none;
    padding:3px;
   
}
.floatnav>li>a {
    color:rgba(0, 0, 0, 0.479); 
    height: 20px;
}
.floatnav>li>a:hover {
    color:blue;
}
.floatnav img {
        position: relative;
        top:0;
        right:5px;
    }
.more-info {
    position: absolute;
    bottom:40px;
    left:-15px;
    color:rgba(0, 0, 0, 0.479); 
}
.more-info img {
    position: relative;
    top:0;
    right:5px;
}
.incolumn>p {
    position: absolute;
     right:15px;
   top:0;
    right:20px;
   color:rgba(0, 0, 0, 0.692);
    font-size: 14px;
    background-color: transparent;
}
footer {
      position: fixed;
      width:100%;
      background-color: rgb(140, 140, 140);
      border-radius: 3px;
      bottom: 0;
      padding:10px;
    }
footer> ul >li{
    display: inline;
    text-decoration: none;
    
}
footer >ul>li>a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-left: 1px solid white;
    color:white;
    font-size: 12px;
    
}
.ftrLilast {
    color:red;
    border:none;
}
